body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
}

header {
    border-bottom: 5px solid green;
    height: 5em;
}

main {
    min-height: 10em;
    padding-top: 2em;
    height: calc(100vh - 5em);
}
    